.main-row{
  height: 90vh;
}
.main-col{
  margin: 10px;
  padding: 10px;
  max-width: 550px;
  min-height: 500px;
}
.todo-done{
  text-decoration: line-through;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  text-align: center;
  
  border-radius: 5px 5px 0 0;
  background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
}
.footer {
  position: absolute;
  padding: 4px;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color:  #D3D3D3;
  font-family: 'Cantarell', 'Fira Sans';
  color: black;
  font-size: larger;

}